.tab-pane *.tab-header-background {
    -fx-background-color: transparent;
}

.tab-pane *.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}